* {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
}

#drum-machine {
  width: 550px;
  height: 350px;
  background-color: lightgrey;
  box-shadow: 2px 2px 6px #656565;
  border-radius: 15px;
}

.col {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-pad {
  color: #ffffff;
  display: flex;
  /* align-items: center; */
  justify-content: center;

  width: 90px;
  height: 90px;
  background-color: lightgray;
  border: 1px solid gray;
  box-shadow: 2px 2px 6px #656565;
  border-radius: 5px;
}

.drum-pad:hover {
  border: 2px solid rgb(231, 255, 47);
}

.drum-pad:active {
  color: rgb(231, 255, 47);
  width: 90px;
  height: 90px;
  background-color: greenyellow;
  border: 1px solid darkgrey;
  box-shadow: 1px 1px 2px #787878;
}

.activvo {
  color: rgb(231, 255, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: greenyellow;
  border: 1px solid darkgrey;
  box-shadow: 1px 1px 2px #787878;
  border-radius: 5px;
}

h1 {
  font-family: 'Audiowide', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 50px;
  margin-top: 15px;
}

.container {
  padding-top: 20px;
}

.top, .middle, .bottom {
  margin-left: 10px;
  height: 100px;
}

.dColumn {
  display: flex;
  margin-top: 20px;
}

#display {
  display: flex;
  align-self: flex-start;
  margin-left: -10px;
  margin-top: -10px;
  width: 200px;
  height: 85px;
  border: 1px solid rgb(111, 111, 111);
  background-color: greenyellow;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.title {
  align-self: flex-end;
  font-family: "Audiowide";
  text-shadow: -1px -1px 0px rgb(131, 131, 131);
  color:#bfbfbf;
  margin-left: -10px;
  margin-bottom: -5px;
}

#display h2 {
  font-family: 'Press Start 2P', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  margin-top: 10px;
  color: #353535
}